---

- name: "[1PASSWORD] [DEB] install gpg key"
  apt_key:
    id: 3FEF9748469ADBE15DA7CA80AC2D62742012EA22
    keyserver: keyserver.ubuntu.com
    keyring: /usr/share/keyrings/1password.gpg

- name: "[1PASSWORD] [DEB] install 1Password repository"
  lineinfile:
    path: /etc/apt/sources.list.d/1password.list
    line: "deb [arch=amd64 signed-by=/usr/share/keyrings/1password.gpg] https://onepassword.s3.amazonaws.com/linux/debian edge main"
    create: true

- name: "[1PASSWORD] [DEB] install 1Password"
  apt:
    name: 1password
    state: present
    update_cache: true
