ansible/facts/*
ansible/*.retry
ansible/.vagrant
ansible/.vscode
ansible/.inventory_cache
ansible/*.log
ansible/test.yml

ansible/roles/post_install/ohermosa/defaults/main.yml

docker_deploys/vault/vault/data/*
docker_deploys/vault/vault/logs/*
docker_deploys/vault/consul/data/*

docker_deploys/gitea/mysql
docker_deploys/gitea/gitea

docker_deploys/bitwarden/ca-certificates
docker_deploys/bitwarden/core
docker_deploys/bitwarden/identity
docker_deploys/bitwarden/letsencrypt
docker_deploys/bitwarden/logs
docker_deploys/bitwarden/mssql
docker_deploys/bitwarden/nginx
docker_deploys/bitwarden/ssl
docker_deploys/bitwarden/web

docker_deploys/kafka/zk-multiple-kafka-multiple

hetzner.log
.vscode
