ansible/facts/*
ansible/*.retry
ansible/.vagrant
ansible/.vscode
ansible/.inventory_cache
ansible/*.log
ansible/test.yml

docker_deploys/vault/vault/data/*
docker_deploys/vault/vault/logs/*
docker_deploys/vault/consul/data/*

docker_deploys/gitea/mysql
docker_deploys/gitea/gitea

