---

- name: "[AUTHY] [DEB] Check if ansible_version >= 2.8"
  assert:
    that:
      - ansible_version.full >= "2.8"
    fail_msg: "Ansible version must be >= 2.8. Please, ejecute 'ansible-playbook update_ansible.yml '"
    success_msg: "OK, your ansible version is {{ ansible_version.full }}"

- name: "[AUTHY] [DEB] Install Authy using snap"
  snap:
    name: authy
    state: present
    channel: latest/beta
