let g:nvim_data_root = stdpath('data')
let g:nvim_config_root = stdpath('config')
let g:config_file_list = ['/nvim-plugins/plugins.vim',
    \ '/general/settings.vim',
    \ '/keymapping/keys.vim',
    \ '/plug-config/airline.vim',
    \ '/plug-config/nerdcommenter.vim',
    \ '/plug-config/git-blame.vim',
    \ '/plug-config/kite.vim',
    \ '/plug-config/neoformat.vim'
    \ ]

let g:airline#extensions#tabline#enabled = 1
let g:airline#extensions#tabline#buffer_nr_show = 1

for f in g:config_file_list
    execute 'source ' . g:nvim_config_root . f
endfor

autocmd InsertLeave,CompleteDone * if pumvisible() == 0 | pclose | endif
autocmd vimenter * if !argc() | NERDTree | endif
autocmd BufWritePre *.go :silent! lua require('go.format').gofmt()

