call plug#begin(stdpath('data').'/plugged')
    " NERDTree
    Plug 'preservim/nerdtree'

    " VIM-DEVICONS icons for NERDTree
    Plug 'ryanoasis/vim-devicons'

    " Surround.vim
    Plug 'tpope/vim-surround'

    " Airline status bar
    Plug 'vim-airline/vim-airline'
    Plug 'vim-airline/vim-airline-themes'

    " NERDCommenter
    Plug 'preservim/nerdcommenter'

    " git blame
    Plug 'f-person/git-blame.nvim'

    " go support"
    Plug 'ray-x/go.nvim'

    " Auto-close braces and scopes
    Plug 'jiangmiao/auto-pairs'

    " A fuzzy file finder
    Plug 'kien/ctrlp.vim'

    " Git integration
    Plug 'tpope/vim-fugitive'

    " Other themes
    Plug 'morhetz/gruvbox'

    Plug 'VundleVim/Vundle.vim'
    Plug 'itchyny/lightline.vim'
    Plug 'pearofducks/ansible-vim'
    Plug 'frazrepo/vim-rainbow'
    Plug 'junegunn/fzf.vim'
    Plug 'airblade/vim-gitgutter'
    Plug 'terryma/vim-multiple-cursors'
    Plug 'mileszs/ack.vim'
    Plug 'ekalinin/dockerfile.vim'
    Plug 'thaerkh/vim-workspace'
    " Plug 'valloric/youcompleteme'
    Plug 'Shougo/deoplete.nvim', { 'do': ':UpdateRemotePlugins' }
    Plug 'zchee/deoplete-jedi'
    Plug 'hashivim/vim-terraform'
    Plug 'juliosueiras/vim-terraform-completion'
    Plug 'sbdchd/neoformat'
    Plug 'kiteco/vim-plugin'

call plug#end()

