syntax enable

" Disable blinking for the n-v-c modes
set guicursor=
set termguicolors
" No Tool bar
set guioptions-=T
" integracion con el mouse
set mouse=a

" Highlight the current line
set cursorline

" muestra el comando
set showcmd
" muestra el parentesis que corresponde
set showmatch

" When on a buffer becomes hidden when it is abandoned
set hidden
set path+=**
set nowrap
set encoding=UTF-8

set ttyfast
set number relativenumber
set nu rnu

set smartindent
set smarttab
set tabstop=2 softtabstop=2
set shiftwidth=2
set expandtab
set smartcase
set incsearch
set nohlsearch
set completeopt=menuone,noinsert,noselect
set signcolumn=yes
set colorcolumn=100
highlight ColorColumn ctermbg=0 guibg=lightgrey
" Gruvbox por defecto
colorscheme gruvbox
let g:gruvbox_contrast_dark='hard'
set background=dark

set noswapfile
set nobackup
set undofile
execute 'set undodir=' . g:nvim_data_root . '/undodir'

" Python virtual environment detection in linux
let g:loaded_python_provider = 0
" Ruta donde se creó el ambiente de Python con pipenv.
let g:python3_host_prog = '{{ python_venv_dir }}/neovim/bin/python'
