[Desktop Entry]
Name=ApacheDirectoryStudio
GenericName=Apache Directory Studio
Comment=LDAP client
Exec={{ ansible_user_dir }}/ApacheDirectoryStudio/ApacheDirectoryStudio
Terminal=false
Type=Application
Icon={{ ansible_user_dir }}/ApacheDirectoryStudio/icon.xpm
Categories=System;Utility;
StartupNotify=false
