{% if ubuntu_codename is defined %}
deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ubuntu_codename }} stable
{% elif debian_codename is defined %}
deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ debian_codename }} stable
{% endif %}
