# TODO: quitar cuando docker suba paquetes de groovy a su repo
{% if ubuntu_codename is defined %}
deb [arch=amd64] https://download.docker.com/linux/{{ linux_distribution }} {{ 'focal' if ubuntu_codename == 'groovy' else ubuntu_codename }} stable
{% elif debian_codename is defined %}
deb [arch=amd64] https://download.docker.com/linux/{{ linux_distribution }} {{ debian_codename }} stable
{% endif %}
