[connection]
id=VPNaaS BBVA
uuid=cfd27d19-62e7-4876-8cef-7419b12d0335
type=vpn
autoconnect=false
permissions=user:{{ ansible_user }}:;

[vpn]
ca={{ dropbox_dir }}/datio/soft/forticlientsslvpn/vpnaas_ca_all.crt
cert={{ dropbox_dir }}/datio/soft/forticlientsslvpn/vpnaas_DAAS_20180125.p12
gateway=185.24.6.15: 443
otp-flags=0
password-flags=2
user=XE67334
service-type=org.freedesktop.NetworkManager.fortisslvpn

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
