script-security 2
dev tun
persist-tun
persist-key
cipher AES-128-CBC
auth SHA1
tls-client
client
resolv-retry infinite
remote 200.66.87.82 1195 udp
lport 0
verify-x509-name "pfsense1.mx.datio" name
auth-user-pass
auth-nocache
pkcs12 {{ openvpn_user_dir }}/bancomer/bancomer.p12
tls-auth {{ openvpn_user_dir }}/bancomer/bancomer.key 1
remote-cert-tls server
up /etc/openvpn/update-resolv-conf
down /etc/openvpn/update-resolv-conf
