Host *
  ServerAliveInterval 30
  ServerAliveCountMax 5

Host id1
  ForwardAgent yes
  Hostname 10.48.226.81
  User cloud-user

Host id2
  ForwardAgent yes
  Hostname 10.48.238.129
  User cloud-user

Host id3
  ForwardAgent yes
  Hostname 10.48.228.145
  User cloud-user

Host id1pro
  Hostname 10.48.193.4
  IdentityFile {{ ssh_user_dir }}/id2_pro.pem
  ForwardAgent yes
  User cloud-user

Host id2pro
  Hostname 10.48.195.94
  IdentityFile {{ ssh_user_dir }}/id2_pro.pem
  ForwardAgent yes
  User cloud-user

Host bastion
  Hostname 10.48.230.26
  User ohermosa
  IdentityFile {{ ssh_user_dir }}/id_rsa

Host idev2
   Hostname idev2.asgard.es.datio
   User cloud-user

Host id2_aws_work
  Hostname 100.88.70.5
  Port 22
  User ec2-user
  IdentityFile {{ ssh_user_dir }}/aws/datio-global-work-01.pem
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  ProxyCommand ssh -i {{ ssh_user_dir }}/id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host id2_aws_live
  Hostname 100.80.67.21
  Port 22
  User ec2-user
  IdentityFile {{ ssh_user_dir }}/aws/datio-global-live-02.pem
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  ProxyCommand ssh -i {{ ssh_user_dir }}/id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.195.95
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host id2_aws_datio
  Hostname 52.14.194.11
  Port 22
  User ec2-user
  IdentityFile {{ ssh_user_dir }}/aws/aws_datio.pem
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bastion
  ForwardAgent yes
  Hostname 10.48.230.26
  User cloud-user

Host id2_ccr_work
  Hostname 10.52.226.89
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/id2mx.pem
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host id2_ccr_live
  Hostname 10.52.193.112
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/id2_dpy_live.pem
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host jenkins_ccr_work
  Hostname 10.52.228.6
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/id2mx.pem
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  ProxyCommand ssh -i {{ ssh_user_dir }}/ccr/id2_es -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host jenkins_ccr_live
  Hostname 10.52.195.37
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/id2_dpy_live.pem
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  ProxyCommand ssh -i {{ ssh_user_dir }}/ccr/id2_es -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bootstrap_mx_play
  Hostname 10.52.238.228
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  #ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bootstrap_us_work
  #Hostname 10.52.232.122
  Hostname 10.52.231.157
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/usawork.key
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bootstrap_pe_work
 Hostname 10.52.224.118
 #Hostname 10.52.234.209
 Port 22
 User cloud-user
 IdentityFile {{ ssh_user_dir }}/ccr/pework.key
 ServerAliveInterval 60
 TCPKeepAlive yes
 ForwardAgent yes
 AddKeysToAgent yes
 #ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
 LogLevel QUIET
 StrictHostKeyChecking no
 UserKnownHostsFile /dev/null

Host bootstrap_mx_work
  Hostname 10.52.224.143
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/mxwork.key
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bootstrap_ar_work
 Hostname 10.52.224.55
 Port 22
 User cloud-user
 IdentityFile {{ ssh_user_dir }}/ccr/arwork.key
 ServerAliveInterval 60
 TCPKeepAlive yes
 ForwardAgent yes
 AddKeysToAgent yes
 ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
 LogLevel QUIET
 StrictHostKeyChecking no
 UserKnownHostsFile /dev/null

Host bootstrap_co_work
 Hostname 10.52.224.111
 Port 22
 User cloud-user
 IdentityFile {{ ssh_user_dir }}/ccr/cowork.key
 ServerAliveInterval 60
 TCPKeepAlive yes
 ForwardAgent yes
 AddKeysToAgent yes
 #ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
 LogLevel QUIET
 StrictHostKeyChecking no
 UserKnownHostsFile /dev/null

Host bootstrap_mx_live
  Hostname 10.52.195.244
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/keypar_1_live.key
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
 #ProxyCommand ssh -i {{ ssh_user_dir }}/ccr/id2_es -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bootstrap_pe_live
 Hostname 10.52.194.241
 Port 22
 User cloud-user
 IdentityFile {{ ssh_user_dir }}/ccr/pelive.key
 ServerAliveInterval 60
 TCPKeepAlive yes
 ForwardAgent yes
 AddKeysToAgent yes
#ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
 LogLevel QUIET
 StrictHostKeyChecking no
 UserKnownHostsFile /dev/null

 Host bootstrap_usa_live
  Hostname 10.52.196.117
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/keypair_live_usa.key
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bootstrap_ar_live
  Hostname 10.52.193.131
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/keypair_ar_live.key
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bootstrap_us_live
  Hostname 10.52.196.117
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/liveusa.key
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
 #ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bootstrap_co_live
  Hostname 10.52.192.12
  Port 22
  User cloud-user
  IdentityFile {{ ssh_user_dir }}/ccr/liveco.key
  ServerAliveInterval 60
  TCPKeepAlive yes
  ForwardAgent yes
  AddKeysToAgent yes
  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cloud-user@10.48.238.129
  LogLevel QUIET
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
