[Desktop Entry]
Name=ApacheDS
GenericName=Apache Directory Studio
Comment=LDAP client
Exec=/home/{{ ansible_user_id }}/ApacheDirectoryStudio/ApacheDirectoryStudio
Terminal=false
Type=Application
Icon=/home/{{ ansible_user_id }}/ApacheDirectoryStudio/icon.xpm
Categories=System;Utility;
StartupNotify=false
