[connection]
id={{ datio_vpn.bbva.id }}
uuid={{ datio_vpn.bbva.uuid }}
type=vpn
permissions=

[vpn]
auth=SHA1
ca={{ datio_vpn.bbva.p12 }}
cert={{ datio_vpn.bbva.p12 }}
cert-pass-flags=1
cipher=AES-256-CBC
connection-type=password-tls
dev=tun
key={{ datio_vpn.bbva.p12 }}
ns-cert-type=server
password-flags=1
ping=10
ping-restart=120
remote={{ datio_vpn.bbva.remote }}
reneg-seconds=0
ta={{ datio_vpn.bbva.key }}
ta-dir=1
username={{ ansible_user }}
verify-x509-name=name:VPNDatioBBVA-Cert
service-type=org.freedesktop.NetworkManager.openvpn

[ipv4]
dns-search=
method=auto
never-default=true

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto

[proxy]
