[diff]
  tool = {{ diff_editor }}

[difftool]
    prompt = false

[difftool "{{ diff_editor }}"]
    cmd = {{ diff_editor }} "$LOCAL" "$REMOTE"

[merge]
    tool = {{ diff_editor }}

[mergetool "{{ diff_editor }}"]
    cmd = {{ diff_editor }} "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
