[connection]
id=MOVISTAR_PLUS_8033
uuid={{ 999999999999999999999 | random | to_uuid }}
type=wifi
permissions=

[wifi]
mac-address=60:57:18:9C:03:6A
mac-address-blacklist=
mode=infrastructure
ssid=MOVISTAR_PLUS_8033

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{ wifi_password_1 }}

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
