[connection]
id={{ datio_vpn.ccr.id }}
uuid={{ datio_vpn.ccr.uuid }}
type=vpn
permissions=

[vpn]
auth=SHA1
ca={{ datio_vpn.ccr.p12 }}
cert={{ datio_vpn.ccr.p12 }}
cert-pass-flags=1
cipher=AES-128-CBC
connection-type=password-tls
dev=tun
key={{ datio_vpn.ccr.p12 }}
password-flags=1
remote={{ datio_vpn.ccr.remote }}
remote-cert-tls=server
ta={{ datio_vpn.ccr.key }}
ta-dir=1
username={{ ansible_user }}
verify-x509-name=name:pfsense1.mx.datio
service-type=org.freedesktop.NetworkManager.openvpn

[ipv4]
dns-search=
method=auto
never-default=true

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
